@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<input id="clientId" type="text" />
	<input id="echoId" type="button" title="Echo" value="Echo" style="width: 4rem;" />
	<input id="broadcastMessageId" type="button" title="Broadcast" value="Broadcast" style="width: 6rem;" />

	<ul id="latestMessageId"></ul>
</div>

<!-- NEED THIS!! The tutorial is helpful! -->

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<!-- The following javascript is part of the "Quickstart" guide in the Azure SignalR Service. -->

<script src="~/js/azureQuickstart.js"></script>