@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<input id="clientId" type="text" />
	<input id="sendMessageId" type="button" title="Send"value="Send" style="width: 4rem;" />

	<div id="latestMessage"></div>
</div>

<!-- NEED THIS!! The tutorial is helpful! -->

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<!-- The following code I added. -->

<script>

	function clientName() {
		return $('#clientId').val();
	}

	function onConnected(connection) {
		// Not sure what to here just yet.
	}

	function wireupClient(connection) {
		$('#sendMessageId').click(function () {
			// Call the hub's Echo() method (supplied by the default Quickstart code)

			//hub.server.Echo(clientName(), 'HELLO! From the named client.');

			connection.invoke("Echo", clientName(), 'HELLO! From the named client.')
				.catch(function (err) {
					return console.error(err.toString());
				});
		});
	}

</script>

<!-- The following javascript is part of the "Quickstart" guide in the Azure SignalR Service. -->

<script src="~/js/azureQuickstart.js"></script>